*{
    margin: 5px;
    box-sizing: border-box;
}

body{
    background: green;
    font-family: helvetica, sans-serif;
    color: white;
    font-size: 32px;
    height: 100vh;
    text-align: center;
}

.middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    display: grid 1;
}


.header{
    background:pink;
    padding-top: 20px;
    padding-bottom: 20px;
}

.left-sidebar{
    background: blue;
    padding-top: 20px; 
    padding-bottom: 20px;
}

.main-content{
    background: rgb(227, 24, 24);
    padding-top: 20px;
    padding-bottom: 20px;
}

.right-sidebar{
    background: blue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer{
    background: pink;
    padding-top: 20px;
    padding-bottom: 20px;
}

.page{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 100vh;
}